<section class="gallery section-dark">
    <div class="gallery-container">
        <div class="grid" (contextmenu)="onRightClick()">
            <div *ngFor="let print of prints" class='{{print.css}}'>
                <figure (click)='salePrintService.selectPrint(print)' class="gallery-img-container">
                    <div class="img-holder">
                        <img src='{{print.img}}'/>
                        <app-print-details-modal-component class="button-holder"></app-print-details-modal-component>
                    </div>
                    <div class="caption-holder-mobile">
                        <figcaption class="img-content">
                            <app-print-details-modal-component class="button-holder-mobile"></app-print-details-modal-component>
                        </figcaption>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>
