<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/backdrop.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    Logo
                    <div class="logo">
                        <img class="img-circle img-no-padding" src="assets/img/profile.jpg" alt="">
                    </div>
                    <h1 class="presentation-title">Caleb Olson</h1>
                </div>

                <h5 class="presentation-subtitle text-center" style="font-size: 20px">Welcome to my digital portfolio.</h5>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
</div>
