.skill-label {
  position: absolute;
}
.progress {
  margin: auto;
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: auto;
}

.progress-value-default {
  border-radius: 100px;
  background: #EEE;
  height: 30px;
  width: 0;
}
.progress-value {
  animation: load 1s normal forwards;
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }
}
.progress-value2 {
  animation: load2 1s normal forwards;
  @keyframes load2 {
    0% { width: 0; }
    100% { width: 20%; }
  }
}
.progress-value3 {
  animation: load3 1s normal forwards;
  @keyframes load3 {
    0% { width: 0; }
    100% { width: 30%; }
  }
}
.progress-value4 {
  animation: load4 1s normal forwards;
  @keyframes load4 {
    0% { width: 0; }
    100% { width: 40%; }
  }
}
.progress-value5 {
  animation: load5 1s normal forwards;
  @keyframes load5 {
    0% { width: 0; }
    100% { width: 50%; }
  }
}
.progress-value6 {
  animation: load6 1s normal forwards;
  @keyframes load6 {
    0% { width: 0; }
    100% { width: 60%; }
  }
}
.progress-value7 {
  animation: load7 1s normal forwards;
  @keyframes load7 {
    0% { width: 0; }
    100% { width: 70%; }
  }
}
.progress-value8 {
  animation: load8 1s normal forwards;
  @keyframes load8 {
    0% { width: 0; }
    100% { width: 80%; }
  }
}
.progress-value9 {
  animation: load9 1s normal forwards;
  @keyframes load9 {
    0% { width: 0; }
    100% { width: 90%; }
  }
}
.centerlist {
  text-align: center;
}
.centerlist ul {
  display: inline-block;
  margin: auto;
  padding: auto;
}
.centerlist li {
  float: left;
  padding: 2px 5px;
}
