<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/profilebackdrop.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content section-dark">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/profile.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Caleb Olson<br /></h4>
                    <h6 class="description" style="color: #f5593d">Software Engineer, Artist</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>To fascinate with technology is to dive into an endless project.</p>
                    <p>Born and raised in Bismarck, ND, this fascination started young. Spanning a few years, tinkering with consumer hardware snowballed into software engineering and I love every <i>bit</i>. Although my hobbies and line of work are mostly left-brained, I've found myself fascinated with abstract art. Please enjoy my corner of the internet, where you can catch up with me and my projects.</p>
                </div>
            </div>
            <br/>
            <div *ngIf="isDisplayManaged()" class="centerlist">
                <ul style="list-style-type:none;">
                    <li><button (click)="openRadarr()" class='btn btn-danger btn-round'>Radarr</button></li>
                    <li><button (click)="openSonarr()" class='btn btn-danger btn-round'>Sonarr</button></li>
                    <li><button (click)="openTransmission()" class='btn btn-danger btn-round'>Transmission</button></li>
                    <li><button (click)="openPlex()" class='btn btn-danger btn-round'>Plex</button></li>
                    <li><button (click)="openFreeNAS()" class='btn btn-danger btn-round'>FreeNAS</button></li>
                    <li><button (click)="openOctoPrint()" class='btn btn-danger btn-round'>OctoPrint</button></li>
                </ul>
            </div>
            <br/>
            <h6 class="description" style="text-align: center; color: #f5593d;">Skill sets</h6>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Technical">
                            <ng-template ngbTabContent>
                                <div style="margin-top: -125px;">
                                    <a style="float: left" class="btn btn-link btn-default">1yrs</a>
                                    <a class="btn btn-link btn-default">2.5yrs</a>
                                    <a style="float: right" class="btn btn-link btn-default">5+yrs</a>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Java</a>
                                        <div class="progress-value8 progress-value-default"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11 ml-auto mr-auto text-center">
                                            <p>I have been developing personally and professionally in Java since the end of 2017 and find myself very comfortable with Java and OOP. </p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">MySQL</a>
                                        <div class="progress-value4 progress-value-default"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11 ml-auto mr-auto text-center">
                                            <p>I have spent over a year at Pedigree Technologies familiarizing myself with MySQL, running complex changesets to our databases and building custom query generation tools in Java.</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">AWS</a>
                                        <div class="progress-value2 progress-value-default"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11 ml-auto mr-auto text-center">
                                            <p>At Pedigree Technologies I work on the Dev Tools team and specialize in AWS projects such rebuilding existing systems with Ansible on EC2 instances using various AWS features liked S3, Route 53, etc.
                                        </div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Web Development</a>
                                        <div class="progress-value3 progress-value-default"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11 ml-auto mr-auto text-center">
                                            <p>I have roughly a year of web development using Angular and Tapestry. I continue to update and maintain this website which was built using Angular.</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Linux</a>
                                        <div class="progress-value3 progress-value-default"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11 ml-auto mr-auto text-center">
                                            <p>I've installed and maintained various systems on linux both at home on local hardware and in a professional setting using AWS and Ansible. An example would be the Nginx jail that I setup in FreeBSD for this website to be served out of. </p>
                                        </div>
                                    </div>
                                    <a style="float: left" class="btn btn-link btn-default">1yrs</a>
                                    <a class="btn btn-link btn-default">2.5yrs</a>
                                    <a style="float: right" class="btn btn-link btn-default">5+yrs</a>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Creative">
                            <ng-template ngbTabContent>
                                <div style="margin-top: -125px;">
                                    <a style="float: left" class="btn btn-link btn-default">1yrs</a>
                                    <a class="btn btn-link btn-default">2.5yrs</a>
                                    <a style="float: right" class="btn btn-link btn-default">5+yrs</a>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Photography</a>
                                        <div class="progress-value progress-value-default"></div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Lightroom</a>
                                        <div class="progress-value progress-value-default"></div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Photoshop</a>
                                        <div class="progress-value6 progress-value-default"></div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">3D Modeling/Printing</a>
                                        <div class="progress-value3 progress-value-default"></div>
                                    </div>
                                    <a style="float: left" class="btn btn-link btn-default">1yrs</a>
                                    <a class="btn btn-link btn-default">2.5yrs</a>
                                    <a style="float: right" class="btn btn-link btn-default">5+yrs</a>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
