<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/profilebackdrop.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content section-dark">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/profile.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Caleb Olson<br /></h4>
                    <h6 class="description" style="color: #f5593d">Software Engineer, Artist</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>To fascinate with technology is to dive into an endless project.</p>
                    <p>Born and raised in Bismarck, ND, this fascination started young. Spanning a few years, tinkering with consumer hardware snowballed into software engineering and I love every <i>bit</i>. Although my hobbies and line of work are mostly left-brained, I've found myself fascinated with abstract art. Please enjoy my corner of the internet, where you can catch up with me and my projects.</p>
                </div>
            </div>
            <br/>
            <h6 class="description" style="text-align: center; color: #f5593d;">Skill sets</h6>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Technical">
                            <ng-template ngbTabContent>
                                <div style="margin-top: -125px;">
                                    <a style="float: left" class="btn btn-link btn-default">1yrs</a>
                                    <a class="btn btn-link btn-default">2.5yrs</a>
                                    <a style="float: right" class="btn btn-link btn-default">5+yrs</a>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Object Oriented Programming</a>
                                        <div class="progress-value8 progress-value-default"></div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Server Administration</a>
                                        <div class="progress-value2 progress-value-default"></div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Web Development</a>
                                        <div class="progress-value2 progress-value-default"></div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Creative">
                            <ng-template ngbTabContent>
                                <div style="margin-top: -125px;">

                                    <a style="float: left" class="btn btn-link btn-default">1yrs</a>
                                    <a class="btn btn-link btn-default">2.5yrs</a>
                                    <a style="float: right" class="btn btn-link btn-default">5+yrs</a>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Photography</a>
                                        <div class="progress-value progress-value-default"></div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Lightroom</a>
                                        <div class="progress-value progress-value-default"></div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">Photoshop</a>
                                        <div class="progress-value4 progress-value-default"></div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <a href="#0" class="btn btn-link btn-danger skill-label">3D Modeling/Printing</a>
                                        <div class="progress-value2 progress-value-default"></div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
