<footer class="footer" style="background-color: #1c1c1c">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a>github</a></li>
                    <li><a href="https://www.instagram.com/calebolson.media" target="_blank">instagram</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Caleb Olson
                </span>
                <span>
                    <button (click)="scrollToTope()" class='btn btn-danger btn-round'>Back To The Top</button>
                </span>
            </div>
        </div>
    </div>
</footer>
